@use '../../assets/scss/variables' as variables;

.container {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 10px;

    .filters {
    }

    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        max-width: 100%;

        .product {
            border: 1px;
            padding: 10px;
            background-color: #fff;
            display: flex;
    flex-direction: column;

            .image {
                object-fit: contain;
                width: 100%;
                aspect-ratio: 1/1;
            }

            button {
                background-color: variables.$dark-bg;
                border: 2px solid #1976d2;
                color: #fff;
                margin-top: auto;
                letter-spacing: 2px;
                cursor: pointer;
                padding: 10px 20px;
                transition: all 0.2s ease-in-out;
                font-weight: bold;
                font-family: monospace;
                font-size: 20px;
                line-height: 1;
                
                &:hover {
                    text-shadow: 1px 0px 3px white;
                    transform: scale(1.03);
                }
            }
        }

        
    }
}